body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

label {
    font-weight: 500;
    color: #333;
}

input, textarea, select {
    font-size: 16px;
    color: #555;
    border-color: #9142db9c!important;
}

a {
    text-decoration: none;
}